<%- include("partials/header") %>
    <div class="container mt-3">
        <h1 class="mb-4">
            <%= article.title %>
        </h1>
        <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
        </div>
        <a href="/articles" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

        <div><%- article.sanitizedHtml %></div>
    </div>
<%- include("partials/footer") %>